body {
    font-family: 'Arimo', sans-serif;
}

h1 {
    color: #EB7F00;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
}

h2 {
    color: #EB7F00;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
}

h3 {
    color: #EB7F00;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
}

hr {
   height: 0;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border-bottom: 1px solid #EB7F00;
}

.rcorners {
    border-radius: 10px;
    border: 2px solid #1695A3;
    padding: 10px; 
    width: auto;
    height: auto;
}

.scorners {
    border-radius: 5px;
    border: 1px solid #EB7F00;
    padding: 5px; 
    width: 200px;
    height: 200px;
}

.navbar {
    background-color: #1695A3;
}

.navbar.navbar-default.navbar-fixed-top li a {
    color: #FFFFFF;
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
    font-family: 'Lobster', cursive;
    font-size: 250%;
}

.navbar-default .navbar-brand:hover {
    color: #000000;
}

ul.nav a:hover { color: #000000 !important; }


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
