{% extends 'base.html' %}
{% block title %}MedAlert (for non-human companions){% endblock %}

{% block content1 %} <span id="alerts_title"><span id="alertsTitle">Active Alerts</span></span> {% endblock %}

{% block content2 %}
    {% macro input(name, variable, display="block", type='text') -%}
        <div class="form-group">
            <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                        <label id="{{ variable }}-label" style="display: {{ display }}">{{ name }}</label>
                    </div><!-- Closing out col.-->
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                        <input type="{{ type }}" name="{{ variable }}" class="form-control" id="{{ variable }}-field" style="display: {{ display }}">
                    </div><!-- Closing out col.-->
            </div><!-- Closing out row.-->
        </div><!-- Closing out form group.-->
    {%- endmacro %}
    <div id="mainButtons" align="center">
        <button type="button" class="btn btn-primary" id="activeAlertsBtn" style="display: none">Active Alerts</button>
        <button type="button" class="btn btn-primary" id="inactiveAlertsBtn">Inactive Alerts</button>
        <button type="button" class="btn btn-primary" id="openAlertFormBtn">Add New Alert</button>
    </div>

    <div id="activeAlertsDiv" style="display: block">
        {% for companion, comp_medications in alert_dict.iteritems() %}
            <div class="col-sm-12 col-md-12 col-lg-12"><h3 style="color: #1695A3">Companion Name: <span style="color: #EB7F00"><a href="/companion/name/{{ companion.name }}">{{ companion.name }}</a></span></h3><br></div>
            {% for medication, alerts in comp_medications.iteritems() %}
                <div class="col-sm-12 col-md-6 col-lg-6">
                    {% for alert, alertlog in alerts.iteritems() %}
                        <div class="rcorners">
                            <h4><span id="medication"><center><strong><a href="/medications/{{ medication.name }}">{{ medication.name }}</a></strong></center></h4>
                            <strong>Alert ID: </strong> <span id="alertID">{{ alert.id }} </span><br>
                            <strong>Next Scheduled Alert: </strong> <span id="nextAlert">{{ alertlog.scheduled_alert_datetime.strftime('%m-%d-%Y at %I:%M %p') }}</span><br>
                            <strong>Alert Status: </strong> <span id="alertIssuedStatus">{% if alertlog.alert_issued %} Issued {% else %} Not Yet Issued {% endif %}</span><br>
                            {% if alertlog.alert_issued %}
                            <strong>User Response: </strong> <span id="userResponseStatus">{% if alertlog.action_taken %} {{ alertlog.action_taken }} {% else %} No response yet from user. Next alert to issue for {{ medication.name }} will be scheduled following user response.{% endif %}</span><br>{% endif %}
                            <strong>Medication Frequency: </strong> <span id="medFrequency">Every {{ alert.alert_frequency }} hours</span><br>
                            <strong>Alert Start: </strong> <span id="alertStart">{{ alert.alert_datetime_start.strftime('%m-%d-%Y at %I:%M %p') }} </span><br>
                            <strong>Alert End: </strong> <span id="alertEnd">{{ alert.alert_datetime_end.strftime('%m-%d-%Y at %I:%M %p') }} </span><br>
                            <strong>Primary Alert Phone: </strong>
                            <span id="primaryAlertPhone">
                                {% if alert.primary_alert_phone %}
                                    {{ alert.primary_alert_phone }}
                                {% else %}
                                    Null
                                {% endif %}
                            </span><br>

                            <strong>Secondary Alert Phone: </strong>
                            <span id="secondaryAlertPhone">
                                {% if alert.secondary_alert_phone %}
                                    {{ alert.secondary_alert_phone }}
                                {% else %}
                                    None provided.
                                {% endif %}
                            </span><br>
                            <div align="right"><a href="#"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></div>
                        </div>
                        <br>
                    {% endfor %}
                </div>
            {% endfor %}
            {% if not loop.last %}<hr> {% endif %}
        {% endfor %}
    </div>           

    <div id="inactiveAlertsDiv" style="display: none">
        {% for companion, comp_medications in inactive_alert_dict.iteritems() %}
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h3 style="color: #1695A3">Companion Name: <span style="color: #EB7F00"><a href="/companion/name/{{ companion.name }}">{{ companion.name }}</a></span></h3><br>
            </div>
                {% for medication, alerts in comp_medications.iteritems() %}
                    {% if inactive_alert_dict[companion][medication] %}
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            {% for alert, alertlog in alerts.iteritems() %}
                                <div class="rcorners">
                                    <h4><span id="medication"><center><strong><a href="/medications/{{ medication.name }}">{{ medication.name }}</a></strong></center></h4>
                                    <strong>Alert ID: </strong> <span id="alertID">{{ alert.id }} </span><br>
                                    <strong>Last Alert Issued: </strong> <span id="nextAlert">{{ alertlog.scheduled_alert_datetime.strftime('%m-%d-%Y at %I:%M %p') }}</span><br>
                                    <strong>Medication Frequency: </strong> <span id="medFrequency">{{ alert.alert_frequency }} </span><br>
                                    <strong>Alert Start: </strong> <span id="alertStart">{{ alert.alert_datetime_start.strftime('%m-%d-%Y at %I:%M %p') }} </span><br>
                                    <strong>Alert End: </strong> <span id="alertEnd">{{ alert.alert_datetime_end.strftime('%m-%d-%Y at %I:%M %p') }} </span><br>
                                    <strong>Primary Alert Phone: </strong>
                                    <span id="primaryAlertPhone">
                                        {% if alert.primary_alert_phone %}
                                            {{ alert.primary_alert_phone }}
                                        {% else %}
                                            None provided.
                                        {% endif %}
                                    </span><br>
                                    <strong>Secondary Alert Phone: </strong>
                                    <span id="secondaryAlertPhone">
                                        {% if alert.secondary_alert_phone %}
                                            {{ alert.secondary_alert_phone }}
                                        {% else %}
                                            None provided.
                                        {% endif %}
                                    </span><br>
                                    <div align="right"><a href="#"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span></a></div>
                                </div>
                                <br>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="rcorners">
                                <h4><span id="medication"><center><strong><a href="/medications/{{ medication.name }}">{{ medication.name }}</a></strong></center></h4>
                                <strong>Alert ID: </strong> <span id="alertID">No alert has been set yet for this medication.</span><br>
                                <strong>Next Scheduled Alert: </strong> <span id="nextAlert"></span><br>
                                <strong>Medication Frequency: </strong> <span id="medFrequency"></span><br>
                                <strong>Alert Start: </strong> <span id="alertStart"></span><br>
                                <strong>Alert End: </strong> <span id="alertEnd"></span><br>
                                <strong>Primary Alert Phone: </strong><span id="primaryAlertPhone"></span><br>
                                <strong>Secondary Alert Phone: </strong><span id="secondaryAlertPhone"></span><br>
                                <div align="right"><a href="#"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span></a></div>
                            </div>
                            <br>
                        </div>
                    {% endif %}
                {% endfor %}
            {% if not loop.last %}<hr> {% endif %}
        {% endfor %}
    </div>           



        <div id="addNewAlertForm" style="display: none">
        <form action="#" class="form-horizontal" id="newAlertForm" method="POST">
                {{ input("Companion Name", "companion_name") }}
    <!-- TYPEAHEAD HERE-->
                {{ input("Medication Name", "medication_name") }} 

    <!-- TYPEAHEAD HERE-->
                    <div class="form-group">
                        <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                                    <label><strong>Alert Type</strong></label>
                                </div><!-- Closing out col.-->
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                                    <select class="form-control" id="alert_type-field" name="alert_type">
                                        <option value="" selected disabled>Dropdown to Select</option>
                                        <option value="text_sms">Text (SMS)</option>
                                        <option value="text_mms">Text (MMS)</option>
                                        <option value="email">Email</option>
                                    </select>
                                </div><!-- Closing out col.-->
                        </div><!-- Closing out row.-->
                    </div><!-- Closing out form group.-->

                    <div class="form-group">
                        <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                                    <label id="alert_frequency-label">Alert Frequency</label>
                                </div><!-- Closing out col.-->
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                                    Every <input type="tect" name="alert_frequency" class="form-control" id="alert_frequency-field">
                                </div><!-- Closing out col.-->
                        </div><!-- Closing out row.-->
                    </div><!-- Closing out form group.-->

                    <div class="form-group">
                        <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                                    <label><strong>Frequency Units</strong></label>
                                </div><!-- Closing out col.-->
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                                    <select class="form-control" name="alert_frequency_unit" id="alert_frequency_unit-field">
                                        <option value="" selected disabled>Frequency Unit</option>
                                        <option value="hours">hour(s)</option>
                                        <option value="days">day(s)</option>
                                    </select>
                                </div><!-- Closing out col.-->
                        </div><!-- Closing out row.-->
                    </div><!-- Closing out form group.-->

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                                <label><strong>Alert Start (First Alert)</strong></label>
                            </div><!-- Closing out col.-->

                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                                <div class='input-group date' name="alert_datetime_start" id='alertDateTimeStart'>
                                    <input type='text' id="alert_datetime_start-field" class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div><!-- Closing out col.-->
                            <script type="text/javascript">
                                $(function () {
                                    $('#alertDateTimeStart').datetimepicker();
                                });
                            </script>
                        </div><!-- Closing out row.-->
                    </div><!-- Closing out container.-->

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                                <label><strong>Alert End (Final Alert)</strong></label>
                            </div><!-- Closing out col.-->
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                                <div class='input-group date' id='alertDateTimeEnd'>
                                    <input type='text' id="alert_datetime_end-field" name="alert_datetime_end" class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div><!-- Closing out col.-->
                            <script type="text/javascript">
                                $(function () {
                                    $('#alertDateTimeEnd').datetimepicker();
                                });
                            </script>
                        </div><!-- Closing out row.-->
                    </div>

                    {{ input("Primary Phone #", "primary_alert_phone") }}

                    <div class="form-group">
                        <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                                    <label><strong>Forwarding Status</strong></label>
                                </div><!-- Closing out col.-->
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                                    <span id="forwarding_status">Disabled</span>
                                    <button type="button" class="btn btn-secondary" id="forward_enabled" value="enable">Enable Forwarding</button>
                                    <button type="button" class="btn btn-secondary" id="forward_disabled" value="disable" style="display: none">Disable Forwarding</button>
                                </div><!-- Closing out col.-->
                        </div><!-- Closing out row.-->
                    </div><!-- Closing out form group.-->

                    {{ input("Secondary Phone #", "secondary_alert_phone", "none") }}


                    <div class="form-group">
                        <div class="row">
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2" align="right">
                                    <button type="button" class="btn btn-primary" id="submitAddNewAlertBtn" value="submitAddNewAlert">Submit New Alert</button>
                                    <button type="button" class="btn btn-primary" id="cancelAddNewAlertBtn" value="cancelAddNewAlert">Cancel</button>
                                </div><!-- Closing out col.-->
                        </div><!-- Closing out row.-->
                    </div><!-- Closing out form group.-->
        </form>

        <script>

        // TO enable or disable secondary contact info:
        $('#forward_enabled').on('click', function(evt) {
            $('#secondary_alert_phone-label').show();
            $('#secondary_alert_phone-field').show();
            $('#forward_enabled').hide();
            $('#forwarding_status').text("Enabled");
            $('#forward_disabled').show();
        });

        $('#forward_disabled').on('click', function(evt) {
            $('#forwarding_status').text("Disabled");
            $('#forward_enabled').show();
            $('#secondary_alert_phone-label').hide();
            $('#secondary_alert_phone-field').hide();
            $('#forward_disabled').hide();
            // TODO: NEED TO ENABLE DISABLE OF PREV ALERTS FWD
        })

        // TO cancel new alert: will reset displays and buttons.
        $('#cancelAddNewAlertBtn').on('click', function(evt) {
            $('#addNewAlertForm').hide(); // TODO: RESET VALUES too.
            $('#forward_enabled').show();
            $('#forward_disabled').hide();
            $('#secondary_alert_phone-label').hide();
            $('#secondary_alert_phone-field').hide();
            $('#openAlertFormBtn').show();
            $('#inactiveAlertsBtn').show();
            $('#activeAlertsBtn').hide();
            $('#activeAlertsDiv').show();
            $('#alertsTitle').text("Active Alerts");
        })

        // Add New Alerts: event listener, AJAX call, and success handler below.
        function refreshAlerts(result) {
            alert(result);
            window.location.href="/alerts";
        }

        $('#submitAddNewAlertBtn').on('click', function(evt) {

            var alertInputs = {
                "companion_name": $('#companion_name-field').val(),
                "medication_name": $('#medication_name-field').val(),
                "alert_type": $('#alert_type-field').val(),
                "alert_frequency": $('#alert_frequency-field').val(),
                "alert_frequency_unit": $('#alert_frequency_unit-field').val(),
                "primary_alert_phone": $('#primary_alert_phone-field').val(),
                "secondary_alert_phone": $('#secondary_alert_phone-field').val(),
                "alert_datetime_start": $('#alert_datetime_start-field').val(),
                "alert_datetime_end": $('#alert_datetime_end-field').val()
            }

            $.post("/add_new_alert", alertInputs, refreshAlerts);

            $('#addNewAlertForm').hide(); // TODO: RESET VALUES too.
            $('#openAlertFormBtn').show();
        })

        </script>
    </div>

    <script>
    // Add New Alert Btn: click to display form and hide button.
    $('#openAlertFormBtn').on('click', function(evt) {
        $('#addNewAlertForm').show();
        $('#openAlertFormBtn').hide();
        $('#inactiveAlertsBtn').hide();
        $('#activeAlertsBtn').hide();
        $('#activeAlertsDiv').hide();
        $('#inactiveAlertsDiv').hide();
        $('#alertsTitle').text("Add New Alert");
    })

      $('#inactiveAlertsBtn').on('click', function(evt) {
            $('#activeAlertsDiv').hide();
            $('#activeAlertsBtn').show();
            $('#inactiveAlertsDiv').show();
            $('#inactiveAlertsBtn').hide();
            $('#alertsTitle').text("Inactive Alerts");
        })

      $('#activeAlertsBtn').on('click', function(evt) {
            $('#activeAlertsDiv').show();
            $('#activeAlertsBtn').hide();
            $('#inactiveAlertsDiv').hide();
            $('#inactiveAlertsBtn').show();
            $('#alertsTitle').text("Active Alerts");
        })

    </script>


{% endblock %}