{% extends 'base.html' %}
{% block title %}MedAlert (for non-human companions){% endblock %}

{% block content1 %}Alerts 
    {% if companion_obj is defined %}
        for {{ companion_obj.name }}
    {% endif %}
{% endblock %}

{% block content2 %}
    {% macro input(name, variable, type='text', value='', size=20) -%}
        <tr>
            <td>
                {{ name }}
            </td>
            <td>
                <input type="{{ type }}" name="{{ variable }}" value="{{ value|e }}" size="{{ size }}">
            </td>
        </tr>
    {%- endmacro %}
    <form action="#" id="newAlertForm" method="POST">
        <table>
            {{ input("Companion Name", "companion_name") }}
            <tr>
                <td>
                    Alert Type
                </td>
            </tr>
            <tr>
                <td>
                    <select name="alert_type">
                        <option value="text_sms">Text (SMS)</option>
                        <option value="text_mms">Text (MMS)</option>
                        <option value="email">Email</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Medication Name
                </td>
            </tr>
            <tr>
                <td>
                    Primary Phone #
                </td>
            </tr>
            <tr>
                <td>
                    Secondary Phone # (to enable forwarding)
                </td>
            </tr>
        </table>

        PETMEDID + PET ID/name
        PRIMARY PH
        SECONDARY PH
        ALERT-TYPE (text, sms, email)
        DATETIME RANGE (FIRST ALERT)
        PETMED ID (petmed name) TYPEAHEAD (or click or create new med if med does not yet exist)

        *** IF MED DOES NOT YET EXIST, WILL REQUIRE PETVET INFO TOO (vet name) TO ADD TO PET (or unknown/OTC)

    </form>

<script>



</script>


{% endblock %}