<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}MedAlert (for non-human companions){% endblock %}</title>
          <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<!--           <link href="/static/project.css" rel="stylesheet">
 -->    </head>
    <body>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        
        <h1>{% block content1 %}MedAlert (for non-human companions){% endblock %}</h1>
        <div class="container fluid">
            {% block content2 %} SAMPLE TEXT HERE{% endblock %}
            
            {% block loginlogout %}
                {% if nologin == True %}
                    <p></p>
                {% elif "user_id" in session %}
                    <form action="/logout">
                        <input type="submit" value="Logout" button type="button" class="btn btn-primary"></button>
                    </form>
                {% else %}
                    <form action="/" method="GET">
                        <input type="submit" value="Login" button type="button" class="btn btn-primary">
                    </form>
                {% endif %}

            {% endblock %}
        </div>

        <br><br>
        <footer></footer>
    </body>
</html>