<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}CompanionCare{% endblock %}</title>
        <!-- <script type="text/javascript" src="/static/bower_components/jquery/jquery.min.js"></script> -->
        <script src="http://code.jquery.com/jquery.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> 
        <script type="text/javascript" src="/static/bower_components/moment/min/moment.min.js"></script>
        <script type="text/javascript" src="/static/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <link rel="stylesheet" href="/static/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="/static/css/sidebar.css" rel="stylesheet" type="text/css"/>
        <link href="/static/css/dashboard.css" rel="stylesheet" type="text/css"/>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <style>
            {% block style %} 
            {% endblock %}
        </style>
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                    <div><a class="navbar-brand" href="/">CompanionCare</a></div>
                </div>

                <div class="navbar-collapse collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        {% if session.get('user_id') %}
                            <li><a href="#" class="glyphicon glyphicon-search" aria-haspop="true" aria-expanded="false"></a></li> <!-- This should open a modal window to enable search. -->
                            <li><a href="#" class="glyphicon glyphicon-user" aria-haspop="true" aria-expanded="false" data-toggle="modal" data-target="#user_modal"></a></li> <!-- This should open a modal window to enable search. -->
                            <li><a href="/logout/1" class="glyphicon glyphicon-log-out" aria-haspop="true" aria-expanded="false"></a></li> <!-- This should open a modal window to enable search. -->
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="wrapper" style="padding-top:50px">
            <!-- Sidebar -->
        {% if session.get('user_id') %}
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li>
                        <a href="/">Companions</a>
                    </li>
                    <li>
                        <a href="/veterinarians">Veterinarians</a>
                    </li>
                    <li>
                        <a href="/medications">Medications</a>
                    </li>
                    <li>
                        <a href="/alerts">Alerts</a>
                    </li>
                    <li>
                        <a href="/photos">Photos</a>
                    </li>
                    <li>
                        <a href="#">Visualization</a>
                    </li>

                </ul>
        {% endif %}
            </div>
            <!-- /#sidebar-wrapper -->
{% block usermodal %}
        <!-- User Modal -->
        <div class="modal" id="user_modal">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title"><span id="profile_title">User Profile</span></h4> <!-- TODO: Medication name changes on type into medname-field. -->
              </div>
              <form action="/user_profile/update" id="rev_UserForm" method="POST">
                <div class="modal-body" id="profile" style="display: block">
                    <h4>Username (email)</h4>
                    <span id="user_email">{{ user_obj.email }}</span>
                    <h4>Name</h4>
                    <span id="user_firstname">{{ user_obj.first_name }}</span> <span id="user_lastname">{{ user_obj.last_name }}</span>
                    <h4>Password</h4>
                    <i>hidden</i>
                    <h4>Phone</h4>
                    <span id="user_phone">{{ user_obj.phone }}</span>
                    <h4>Zipcode</h4>
                    <span id="user_zipcode">{{ user_obj.zipcode}}</span>
                </div>
                <div class="modal-body" id="profileForm" style="display: none">
                    <h4>Username (email)</h4>
                    <input type="text" name="username" id="username-field" value="{{ user_obj.email }}"></input><br>
                    <h4>First Name</h4>
                    <input type="text" name="first_name" id="firstname-field" value="{{ user_obj.first_name }}"></input><br>
                    <h4>Last Name</h4>
                    <input type="text" name="last_name" id="lastname-field" value="{{ user_obj.last_name }}"></input><br>
                    <h4>Password</h4>
                    <input type="text" name="password" id="password-field"></input><br>
                    <h4>Phone</h4>
                    <input type="text" name="phone" id="phone-field" value="{{ user_obj.phone }}"></input><br>
                    <h4>Zipcode</h4>
                    <input type="text" name="zipcode" id="zipcode-field" value="{{ user_obj.zipcode }}"></input><br>
                </div>
                <div class="modal-footer" id="profileFormModalFooter">
                    <button type="button" id="editProfileBtn" class="btn btn-default">Edit Profile</button>
                    <button type="button" id="closeProfileModalBtn" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>
{% endblock %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            <div class="container fluid">
                <center><h1>{% block content1 %}CompanionCare{% endblock %}</h1></center>
            </div>
            <div class="container fluid">
                {% block content2 %} TEXT HERE {% endblock %}
            </div>
        </div>

            <br><br>
            <footer></footer>
        </div><!-- Closing out container.-->

<script>
    var updateProfileBtn = "<input type='submit' id='updateProfileBtn' class='btn btn-default' value='Update'></input>";
    var deleteProfileBtn = "<button type='button' id='deleteProfileBtn' class='btn btn-default'><form action='user_profile/delete' id='deleteProfileForm' method='POST'>Delete</form></button>";

    $('#editProfileBtn').on('click', function(evt) {
        $('#profile').attr("style", "display: none");
        $('#profileForm').attr("style", "display: block");
        $('#editProfileBtn').hide();
        $('#profileFormModalFooter').prepend(deleteProfileBtn);
        $('#deleteProfileBtn').on('click', function(evt) {
            evt.preventDefault();
            deleteProfile(evt);
        });
        $('#profileFormModalFooter').prepend(updateProfileBtn); 
        $('#updateProfileBtn').on('click', function(evt) {
            evt.preventDefault();
            updateProfile(evt);
        });
    });

    function cleanUpModalClose() {
        $('#profile').attr("style", "display: block");
        $('#profileForm').attr("style", "display: none");
        $('#editProfileBtn').show();
        $('#updateProfileBtn').remove();
        $('#deleteProfileBtn').remove();
    }
    // Returns modal display to previous view so user will see view rather than update if clicked again.
    $('#closeProfileModalBtn').on('click', function(evt) {
        cleanUpModalClose();
    })

    // Deletes user profile by navigating through app.route and redirecting user to homepage, logged out.
    // Will first request confirmation.

    function deleteProfile(evt) {
        var userConfirmation = prompt("Are you sure you'd like to delete your profile?");
        if (userConfirmation.toLowerCase() === "y") {
            console.log("hi");
            $('#deleteProfileForm').submit();
        }
        else {
            alert("No changes have been made.");
        }
    }    

    // Updates user profile using AJAX and returns to previous modal view, displaying updated user information.

    function updatedProfile(results) {
        alert(results);
        $('#user_email').text($('#username-field').val());
        $('#user_firstname').text($('#firstname-field').val());
        $('#user_lastname').text($('#lastname-field').val());
        $('#user_phone').text($('#phone-field').val());
        $('#user_zipcode').text($('#zipcode-field').val());
        cleanUpModalClose();
    }

    function updateProfile(evt) {
        var formInputs = {
            "email": $('#username-field').val(),
            "first_name": $('#firstname-field').val(),
            "last_name": $('#lastname-field').val(),
            "phone": $('#phone-field').val(),
            "zipcode": $('#zipcode-field').val()
        };
        $.post("/user_profile/update", formInputs, updatedProfile);
    }

</script>

    </body>
</html>