{% extends 'base.html' %}
{% block title %}CompanionCare: Dashboard{% endblock %}

{% block content1 %}Companions & Active Alerts{% endblock %}
{% block content2 %} 

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        {% if companion_dash_list %}
            <h3 style="color: #1695A3" align="left">Companions<hr style="border-bottom: 2px solid #1695A3;"></h3>
            {% for companion_obj, companion_vetname_list, companion_medname_list in companion_dash_list %}
                <div class="rcorners">
                    <strong>Name: <a href='/companion/name/{{ companion_obj.name }}'>{{ companion_obj.name }}</a></strong>
                    <ul><li> PHOTO HERE</li>
                        <li><strong>Nickname:</strong> {{ companion_obj.primary_nickname }}</li>
                        <li><strong>Species:</strong> {{ companion_obj.species }}</li>
                        <li><strong>Breed:</strong> {{ companion_obj.breed }}</li>
                        <li><strong>Gender:</strong> {{ companion_obj.gender }}</li>
                        <li><strong>Age:</strong> {{ companion_obj.age }} year{% if companion_obj.age > 1 %}s{% endif %} old</li>
                        <li><strong>Veterinarians:</strong>
                        {% if companion_vetname_list != ['Unknown'] %}
                            {% for vetname in companion_vetname_list %}
                                {% if vetname != "Unknown" %}
                                    <a href="/veterinarians">{{ vetname }}</a>
                                    {% if not loop.last %}, {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            No veterinarians on record.
                        {% endif %}
                        </li>
                        <li><strong>Medications:</strong>
                        {% if companion_medname_list %}
                            {% for medname in companion_medname_list %}
                                <a href="/medications/{{ medname }}">{{ medname }}</a>
                                {% if not loop.last %}, {% endif %}
                            {% endfor %}
                        {% else %}
                            No medications on record.
                        {% endif %}
                        </li>
                        <!-- If meds or alerts, render icon. -->
                    </ul>
                </div>
                <br><br>
            {% endfor %}
        {% endif %}
        <div class="col-xs-6 col-md-6 col-lg-6"><a href="/new_companion" class="btn btn-primary">Add New Companion</a></div>
        <div class="col-xs-12 col-sm-12 hidden-md hidden-lg">
            <br><br><hr><br><br>
        </div>
    </div>


    {% if active_alerts_list %}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div id="activeAlertsDiv" style="display: block">
                <h3 style="color: #1695A3" align="left">Active Alerts<hr style="border-bottom: 2px solid #1695A3;"></h3>
                {% for companion, medication, alert, alertlog in active_alerts_list %}
                    <div>
                        <h4><span id="medication"><center><strong><a href="/alerts">Alert ID #<span id="alertID">{{ alert.id }}</a></span><br><a href="/medications/{{ medication.name }}">{{ medication.name }}</a></strong> for <strong><a href="/companion/name/{{ companion.name }}">{{ companion.name }}</a></strong></center></h4>
                        <strong>Next Scheduled Alert: </strong> <span id="nextAlert">{{ alertlog.scheduled_alert_datetime.strftime('%m-%d-%Y at %I:%M %p') }}</span><br>
                        <strong>Alert Status: </strong> <span id="alertIssuedStatus">{% if alertlog.alert_issued %} Issued {% else %} Not Yet Issued {% endif %}</span><br>
                        {% if alertlog.alert_issued %}
                        <strong>User Response: </strong> <span id="userResponseStatus">{% if alertlog.action_taken %} {{ alertlog.action_taken }} {% else %} No response yet from user. Next alert to issue for {{ medication.name }} will be scheduled following user response.{% endif %}</span><br>{% endif %}
                        <strong>Medication Frequency: </strong> <span id="medFrequency">Every {{ alert.alert_frequency }} hours</span><br>
                        <strong>Alert Start: </strong> <span id="alertStart">{{ alert.alert_datetime_start.strftime('%m-%d-%Y at %I:%M %p') }} </span><br>
                        <strong>Alert End: </strong> <span id="alertEnd">{{ alert.alert_datetime_end.strftime('%m-%d-%Y at %I:%M %p') }} </span>
                        <hr>
                    </div>
                {% endfor %}
                <p>*Alerts sorted by Next Scheduled Alert.</p>
            </div>
        </div>
    {% endif %}
{% endblock %}