{% extends 'base.html' %}
{% block title %}MedAlert (for non-human companions){% endblock %}

{% block content1 %}Medications 
    {% if companion_name is defined %}
        for {{ companion_name }}
    {% endif %}
{% endblock %}

{% block content2 %}

<!-- View dropdown menu to enable companion selection.  One button enables adding new companion if no companion listed.
-->
    <form action="/medications/{{ companion_id }}" method="POST">

        {% macro input(name, variable, type='text', value='', size=20) -%}
             {{ name }} <input type="{{ type }}" name="{{ variable }}" value="{{
                value|e }}" size="{{ size }}">
        {%- endmacro %}

        {% for variable, name in medication_attributes_dict.items() %}
            {{ input(name, variable) }}</p>
        {% endfor %}

        <div>
            <input type="submit" value="Add medication">
        </div>
    </form>

    <a href="/alerts">Add alert</a>
<!--
Enable button to add new medications.
 -->


{% endblock %}