{% extends 'base.html' %}

{% block content1 %}Pet Medications{% endblock %}

{% block content2 %}
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">Click on the links below to view detailed information about pet medications or add prescriptions that the companions in your own care network are taking.</div>
    </div><br>
    <div class="row">
        <div class="col-xs-4 col-md-4 col-lg-4">
            <a href="/">+ Add new medication to directory</a>
        </div>
    </div>
    <div class="row">
        {% for mini_meds_list in list_med_list %} <!-- To split all meds into three columns. -->
            <div class="col-xs-4 col-md-4 col-lg-4">
                <table>
                    {% for med in mini_meds_list %} <!-- For each med in list of med_tuples. -->
                            <tr>
                                <td>
                                    <a href="/medications/{{ med.name }}">{{ med.name }}</a><!-- displays med name & corresponding link-->
                                </td>
                            </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}