{% extends 'base.html' %}
{% block title %}CompanionCare{% endblock %}

{% block content1 %}Companion Profile{% endblock %} <!-- TODO: Pass in name if true.-->

    {% if companion_attributes_dict['new_companion'] %}
        {% set add_or_update = "Add" %}
        {% set Heading = "Add" %}
        {% set action_path = "/new_companion" %}
    {% else %}
        {% set add_or_update = "Update" %}
        {% set Heading = "Update" %}
    {% endif %}

{% block content2 %}
    <div class="row">
        <div class="col-xs-6 col-md-6 col-lg-6">
           {% macro input(name, variable, type, placeholder='', value='', size=20) -%}
                <tr>
                    <td>
                        <label>{{ name }}&nbsp;
                    </td>
                    <td>
                        <input type="{{ type }}" name="{{ variable }}" value="{{
                        value|e }}" size="{{ size }}" placeholder="{{ placeholder }}" class="form-control"></label>
                    </td>
                </tr>
            {%- endmacro %}
            <h3>{{ add_or_update }} Companion Profile</h3>
            <form action="{{ action_path }}" method="POST">
                <table>
                    {% for name, key in companion_attributes_dict.items() %}
                        {% if name != "logged_in" and name != "new_companion" %}
                            {{ input(name, key[0], key[1], placeholder = key[2]) }}</p>
                        {% endif %}
                    {% endfor %}<br>
                </table>
                <br>
                <div>
                    <input type="submit" class="btn btn-primary" value="{{ add_or_update }}">
                </div>
            </form>
        </div><!-- Closing column.-->
        <div class="col-xs-6 col-md-6 col-lg-6">
            <h3>Delete Companion Profile</h3>
            <form action="/companion/name/{{ companion_name }}" method="POST">
                <input type="hidden" name="delete" value="delete_companion_profile">
                <input type="submit" class="btn btn-primary" value="Delete">
            </form>
        </div><!-- Closing column.-->
    </div><!-- Closing row.-->

{% endblock %}