{% extends 'base.html' %}
{% block title %}MedAlert (for non-human companions){% endblock %}

{% block content1 %}{{ Heading }} companion{% endblock %}

    {% if companion_attributes_dict['new_companion'] %}
        {% set add_or_update = "Add" %}
        {% set Heading = "Add" %}
        {% set action_path = "/new_companion" %}
    {% else %}
        {% set add_or_update = "Update" %}
        {% set Heading = "Update" %}
    {% endif %}

{% block content2 %}

   {% macro input(name, variable, type, placeholder='', value='', size=20) -%}
         {{ name }} <input type="{{ type }}" name="{{ variable }}" value="{{
            value|e }}" size="{{ size }}" placeholder="{{ placeholder }}">
    {%- endmacro %}

    <form action="{{ action_path }}" method="POST">
    {% for name, key in companion_attributes_dict.items() %}
        {% if name != "logged_in" and name != "new_companion" %}
            {{ input(name, key[0], key[1], placeholder = key[2]) }}</p>
        {% endif %}
    {% endfor %}
<!-- ADD NETWORK ID HERE -->
        <div>
            <a href="/veterinary_specialists">{{ add_or_update }} Veterinary Specialists</a>
        </div>

        <div>
            <a href="/medications">{{ add_or_update }} Medications</a>
        </div>

        <div>
            <a href="/photos">{{ add_or_update }} Photos</a>
        </div>

        <div>
            <input type="submit" value="{{ add_or_update }}">
        </div>
    </form>
    
    <!-- TODO: ONLY SHOW BELOW FOR CREATED PET PROFILES -->
    <form action="/companion/{{companion_id}}" method="POST">
        <input type="hidden" name="delete" value="delete_companion_profile">
        <input type="submit" value="delete companion profile">
    </form>


{% endblock %}