{% extends 'base.html' %}
{% block title %}MedAlert (for non-human companions){% endblock %}

{% block content1 %}Photos{% endblock %}
{% block content2 %} 

<form method="POST" id="photoForm" enctype="multipart/form-data" action="/photos/upload" style="display: block">
    <div class="form-group">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4 col-xs-offset-2 col-sm-offset-2 col-md-offset-4 col-lg-offset-4" align="center">
                <h3>Upload new photo</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                <label id="image_name">Image Name</label>
            </div><!-- Closing out col.-->
            <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                <input type="text" name="name" class="form-control" id="name-field">
            </div><!-- Closing out col.-->
        </div><!-- Closing out row.-->
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                <label id="name">Image to Upload</label>
            </div><!-- Closing out col.-->
            <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                <input type="file" name="photo" class="form-control" id="photo-field">
            </div><!-- Closing out col.-->
        </div><!-- Closing out row.-->
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                <label id="tags">Tags</label>
            </div><!-- Closing out col.-->
            <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                <input type="text" name="tags" class="form-control" id="tags-field">
            </div><!-- Closing out col.-->
        </div><!-- Closing out row.-->
    </div><!-- Closing out form group.-->
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2" align="right">
                <input type="submit" class="btn btn-primary" value="Upload"></input>
            </div><!-- Closing out col.-->
        </div><!-- Closing out row.-->
    </div><!-- Closing out form group.-->
</form>
<br><br>

    {% if photo_obj is defined %}
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
            <div><img src="{{ photo_obj.location_url }}" alt="{{ photo_obj.name }}" style="width:auto; height:auto;"></a> </div>
            <div>{{ photo_obj.name }}</div>
            <div>Tags: {{ photo_obj.tags }}</div>
            <br><br>
            <h4><a href="/photos">View All Photos</a></h4>
        </div><!-- Closing out col.-->
    {% endif %}

    {% if image_list is defined %}
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="left">
            <h3 style="color: #1695A3">Photo Archive</h3>
            <hr>
        </div>
        <div id="images">
            {% for image_obj in image_list %}
                <div class="col-xs-8 col-sm-6 col-md-4 col-lg-4" align="center">
                    <div><a href="/photos/{{ image_obj.id }}"><img src="{{ image_obj.location_url }}" alt="{{ image_obj.name }}" style="width:304px; height:auto;"></a> </div>
                    <div>{{ image_obj.name }}</div>
                    <div>Tags: {{ image_obj.tags }}</div>
                    <br><br>
                </div><!-- Closing out col.-->

            {% endfor %}
        </div><!-- Closing out images div.-->
    {% endif %}
{% endblock %}