{% extends 'base.html' %}
{% block title %}MedAlert (for non-human companions){% endblock %}

{% set nologin = True %}
{% block usermodal %}{% endblock %}

{% block content1 %}Register New Account{% endblock %}
{% block content2 %}

    {% macro input(name, variable, type, placeholder='', value='', size=20) -%}
    <tr>
        <td>{{ name }}</td>
        <td><input type="{{ type }}" name="{{ variable }}" value="{{
            value|e }}" size="{{ size }}" placeholder="{{ placeholder }}">
        </td>
    </tr>
    {%- endmacro %}
    <form action="/register" method="POST">
        <table>
            <tr>
                <th>
                    User Information:
                </th>
            </tr>
            {% for name, key in user_attributes_dict.items() %}
                {% if name != "logged_in" %}
                    {{ input(name, key[0], key[1], placeholder = key[2]) }}</p>
                {% endif %}
            {% endfor %}
        </table>
        <br><br>
        <div>
            <input type="submit" value="Register">
        </div>
    </form>

{% endblock %}