{% extends 'base.html' %}
{% block title %}MedAlert (for non-human companions){% endblock %}

{% if user_obj is not defined %}
    {% set old_email = "" %}
    {% set old_password = "" %}
    {% set old_first_name = "" %}
    {% set old_last_name = "" %}
    {% set old_network = "" %}
    {% set register_or_update = "register" %}
    {% set action_path = "/register" %}
    {% set heading = "Register" %}
    {% set nologin = True %}
{% else %}
    {% set old_email = user_obj.email %}
    {% set old_password = user_obj.password %}
    {% set old_first_name = user_obj.first_name %}
    {% set old_last_name = user_obj.last_name %}
    {% if user_obj.zipcode is not defined %}
        {% set old_zipcode = "" %}
    {% else %}
        {% set old_zipcode = user_obj.zipcode %}
    {% endif %}
    {% set register_or_update = "update" %}
    {% set action_path = "/user_profile/edit" %}
    {% set heading = "Update" %}
{% endif %}

{% block content1 %}{{ heading }}{% endblock %}

{% block content2 %}
<!-- This inserts existing user information as placeholder values in the form. -->

<!-- TODO: Ensure non-null values are provided during registration.-->
<!-- TODO: Create a back button and logout for this view.-->
    {% if user_obj %}
        <p>Insert changes over placeholder values.</p>
    {% endif %}

    <form action="{{ action_path }}" method="POST">

        <div>
            <label>
                Email
                <input type="email" name="email" placeholder="{{ old_email }}">
            </label>
        </div>

        <div>
            <label>
                Password
                <input type="password" name="password" placeholder="{{ old_password }}">
            </label>
        </div>

        <div>
            <label>
                First Name
                <input type="text" name="first_name" placeholder="{{ old_first_name }}">
            </label>
        </div>

        <div>
            <label>
                Last Name
                <input type="test" name="last_name" placeholder="{{ old_last_name }}">
            </label>
        </div>

        <div>
            <label>
                Zipcode
                <input type="text" name="zipcode" placeholder="{{ old_zipcode }}">
            </label>
        </div>


        <div>
            <input type="submit" value="{{ register_or_update }}">
        </div>

    </form>
    <!-- ONLY SHOW BELOW IF USER LOGGED IN: NEED TO FIX THIS -->
    <form action="/user_profile/edit" method="POST">
        <input type="hidden" name="delete" value="delete_user">
        <input type="submit" value="delete account">
    </form>

{% endblock %}